@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';

$primary-color: #1e90ff ;
$secondary-color: #ffe221;
$tertiary-color: #ffffff;

@layer components {

   .-mb-13	{
      margin-bottom: -6.5em;
   }
   .animation-delay {
      animation-delay: 1s !important;
   }

   .container{
      width: 400px;
      height: 220px;
      position: relative;
   }

   .card-button {
      @apply bg-gray-200 font-semibold hover:bg-blue-700 rounded text-black hover:text-white;
   }

   .skills {
      width: 256px;
   }
}

