@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'https://fonts.googleapis.com/css?family=Baloo+Paaji';

$primary-color: #1e90ff ;
$secondary-color: #ffe221;
$tertiary-color: #ffffff;

@layer components {

   .-mb-13	{
      margin-bottom: -6.5em;
   }
   .animation-delay {
      animation-delay: 1s !important;
   }

   .container{
      width: 400px;
      height: 220px;
      position: relative;
   }
   
   .name {
      @apply text-black !important;
   }

   .card-button {
      @apply bg-gray-200 font-semibold hover:bg-blue-700 rounded text-black hover:text-white lg:h-12;
   }

   .card-title {
      @apply text-sm px-6 py-6 text-white w-1/2 h-full lg:text-lg lg:w-1/2 lg:h-full lg:content-center max-w-2xl relative flex flex-wrap content-center;
   }

   .card-desc {
      @apply mt-2 leading-5 lg:leading-normal;
   }

   .skills {
      @apply w-14 sm:w-20 md:w-24 mx-auto;
   }

   #button {
      display: inline-block;
      background-color: rgba(2, 132, 199, 1);
      width: 50px;
      height: 50px;
      text-align: center;
      border-radius: 25px;
      position: fixed;
      bottom: 30px;
      right: 30px;
      transition: background-color .3s, 
      opacity .5s, visibility .5s;
      opacity: 0;
      visibility: hidden;
      z-index: 1000;
    }
    #button::after {
      content: "\f0d8";
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      font-size: 2em;
      line-height: 50px;
      color: #fff;
    }
    #button:hover {
      cursor: pointer;
      background-color: #333;
    }
    #button:active {
      background-color: #555;
    }
    #button.show {
      opacity: 1;
      visibility: visible;
    }
    img {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      }

   .preloader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
      background: rgb(23, 22, 22);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      transition: opacity 0.3s linear;
      pointer-events: none;
      }

   .h-plantr {
      background-image: url("..\static\plantr-01.png");
      background: red;
   }
}

